<div class='main'>
	<div class='container'>
		<h1>New Tag</h1>
		<%= form_for (@tag) do |f| %>
			<div class="field">
				<%= f.label :Title %><br>
				<%= f.text_area :title %>
			</div>
			<%= f.label :Add_Jokes %>
			<%= collection_select :tag, :joke_ids, Joke.all, :id, :title, prompt: true %>
			<div class="actions">
				<%= f.submit "create" %>
			</div>
		<% end %>
		<%= link_to "Tags", tags_path %>
	</div>
</div>

