<h1>Edit Your Joke!</h1>

<div class="tags">
      <small><em><strong><%= link_to "Tags", "/tags" %></strong></em></small>
      <% @tags.each do |t| %>
      <small><em><a href="<%= tag_path(t) %>">#<%= t.title %></a></em></small>
      <% end %>
</div>

<%= form_for(@joke) do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <div class="actions">
    <%= f.submit "Update Joke"%>
  </div>
<% end %>

<%= link_to 'Back', joke_path %>