<div class='main'>
	<div class='container'>
		<h1>New Joke</h1>
		<%= form_for (@joke) do |f| %>
			<div class="field">
				<%= f.label :Title %><br>
				<%= f.text_area :title %>
			</div>
			<div class="field">
				<%= f.label :Joke %><br>
				<%= f.text_area :content %>
			</div>
			<div class="field">
    			<%= f.label :tag_list, "Tags (separated by commas)" %><br>
    			<%= f.text_field :tag_list %>
  			</div>
			<div class="actions">
				<p><%= f.submit "Create", class: 'btn btn-send' %></p>
				<p><%= link_to "CANCEL", jokes_path, class: "btn btn-cta" %></p>
			</div>
		<% end %>
	</div>
</div>

