<div class="main">
	<div class="container">
		<p id="notice"><%= notice %></p>
		<h1><%= @joke.title %></h1>
		<small><em><%= "#{(@joke.created_at.strftime("%b %-d, %Y"))}" %></em></small>
		<div class="edit">
			<small><em><strong><%= link_to "Edit", edit_joke_path(@joke) %></strong></em></small>
		</div>
		<div>
			Tags: <%= raw @joke.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
		</div>
		<div class="jokes">
			<p><%= @joke.content %></p>
		</div>
		<%= link_to "Jokes", "/jokes" %>
	</div>
</div>